@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;1,100&family=Poppins:wght@500&family=Rubik+Lines&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  'Lato', sans-serif;
}
.hero {
    background-image: url(../images/cow\(2\).jpg);
    background-size: cover;
    background-position: bottom center;
    height: 100vh;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 72% 100%, 25% 100%, 0% 50%);

}
.hero h1{
    color: rgb(110, 185, 185);
    font-size: 100px;
    text-align: center;
    font-weight:900;
    /* margin-top: 60px; */
    padding-top: 60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    word-spacing: 20px;
    letter-spacing: 5px;


}

.article, #cow-type {
    width: 80%;
    /* margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px auto ;
    background: linear-gradient(45deg,pink, rgb(123, 114, 250));

}

.article h2 , #cow-type h2{
    text-align: center;
    font-size: 48px;
    border-bottom: 2px solid salmon;
    padding-bottom: 20px;
    margin-bottom: 50px;;
}

.article p {
    font-size: 28px;
    line-height: 2em;
}
.article p .imp {
    font-size: 2em;
    background-color: yellow;

}

#cow-type div {
    display:flex;
    min-width: 300px;
    flex-direction:row;
    gap: 20px;
    justify-content: center;
}
